.layout{
  width: 100%;
  height: 100%;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color:#51452e;
  
}

.firstText{

}



.form{
  width: 1000px;
  max-width: 30rem;
  height: 100%;
  background-color: aliceblue;
  border-radius: 2rem;
  box-shadow: 0 0 20px 2px rgb(156, 154, 154);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: .5rem;
}

.inputBox input{
  position: relative;
  width: 90%;
  
  border: none;
  box-shadow: 0px 1.5px 0px 0px #554848;
  padding: .5rem;
  transition: all 200ms ease-in-out;
  opacity: .8;
  margin-right: .4rem;
}

.inputBox label{
  font-size: .9rem;
  
  font-weight: bold;
  justify-content: left;
  color: #5e5b5b;
  margin-bottom: 4px;
}

.inputBox span{
  color: #c31515;
  font-size: .9rem;
  margin-top: 20px;
  
  transition: all 100ms linear;
}

.inputBox input::placeholder{
  color: rgb(145, 145, 145);
  font-size: .75rem;
}

.inputBox input::after{
  content: attr(placeholder);
position: absolute;
color: #161616;
top: 0;
left: 0;
}

.inputBox input:focus{
  border: none;
  box-shadow: 0px 1.5px 0px 0px #ffffff;
  outline: none;
}

.inputBox input:focus + .inputBox span{
  visibility: visible;
  transform: translateY(0rem);
}

.inputBox input:focus::placeholder{
  visibility: hidden;
}

/*Para los min y max*/
.minmax{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.minmax input{
  width: 80%;
  text-align: center;
}

/*Select y option*/

.inputBox select{
  width: 50%;
  border: none;
  box-shadow: 0px 1.5px 0px 0px #858585;
  padding: .2rem;
  opacity: .8;   
  margin-bottom: 1rem;
  cursor: pointer;
}

.inputBox p{
  display: inline;
  flex-wrap: wrap;
  margin-top: 1rem;
  font-family: doguitos;
  font-weight: 600;
  color: rgb(145, 145, 145);
  font-size: .9rem;
  cursor: default;


}

.errorAdap{

  font-size: 14px;
  margin-top: 3px;
  color: #c31515
}

.errorAdapDiv{
  margin-left: -40px;
  
  align-items: center;
  display:inline;
  padding-left: 30px;
}

.deleteTemp{
  max-width: 3px;
  height: 15px;
  color: #d00909;
  transform: translateY(-.5rem) translateX(-.2rem);
  cursor: pointer;
  margin: 0;
  background: none;
  border: none;
}

.createButton {
  border-radius: 10px;
  width: 100%;
  font-size: 25px;
  left: 50%;
  color: rgb(70, 222, 70);
  background-color: rgb(103, 243, 103);
  
}


.disabledButton {
  border-radius: 10px;
  width: 100%;
  font-size: 25px;
  left: 50%;
}



@media(max-width:450px){
  .minmax input{
      width: 50%;
  }
}

.validateButton {
  padding: 10px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 70;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 170px;
  height: 40px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  
  
}

.validateButton:hover {
  background-color: #bdac93;
  box-shadow: 0px 5px 10px #bdac93;
  color: #fff;
  transform: translateY(-2px);
}

.validateButton:active {
  transform: translateY(-1px);
}

.back {
  padding: 10px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 70;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 80px;
  height: 40px;
  margin-top: 12px;
  margin-left: 0px;
}

.back:hover {
  background-color: #bdac93;
  box-shadow: 0px 10px 10px #bdac93;
  color: #fff;
  transform: translateY(-2px);
}

.back:active {
  transform: translateY(-1px);
}



