

body{
  margin: 0;
}






/* loader */

.contenedor {
    
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}






.options{
  display: flex;
  justify-content: center;
}

/* Estilos para los select */
.options select {
  
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: 70; /* Ajusta el peso de la fuente según sea necesario */
  letter-spacing: 1px; /* Ajusta el espacio entre letras según sea necesario */
  height: 2rem;
  font-size: 1rem; /* Ajusta el tamaño de la fuente según sea necesario */
  padding: 0rem; /* Ajusta el relleno según sea necesario */
  background-color: #FAFCFD;
  border: 3px solid transparent;
  transition: .3s ease-in-out;
  margin-top: 1rem;
  width: 140px; /* Ajusta el ancho según sea necesario */
  margin-right: 50px;
  border-radius: 4px 4px 4px 4px;
}

.options select.adap {
  
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: 70; /* Ajusta el peso de la fuente según sea necesario */
  letter-spacing: 1px; /* Ajusta el espacio entre letras según sea necesario */
  height: 2rem;
  font-size: 1rem; /* Ajusta el tamaño de la fuente según sea necesario */
  padding: 0rem; /* Ajusta el relleno según sea necesario */
  background-color: #FAFCFD;
  border: 3px solid transparent;
  transition: .3s ease-in-out;
  margin-top: 1rem;
  width: 200px; /* Ajusta el ancho según sea necesario */
  margin-right: 50px;

}




.options select:focus {
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
  outline: 0;
  background-color: #bdac93;
  color: #000;
}

.options select::placeholder {
  color: #333;
}

.options select:hover {
  background-color: #bdac93;
  cursor: pointer;
}

/* Estilos para las opciones del select */
.options select option {
  color: #333;
}

.options select option:hover {
  background-color: #bdac93;
  cursor: pointer;
}

.options select:last-child {
  margin-right: 0;
}



.reset {
  padding: 10px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 70;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 70px;
  height: 40px;
  margin-top: 12px;
}

.reset:hover {
  background-color: #bdac93;
  box-shadow: 0px 10px 10px #bdac93;
  color: #fff;
  transform: translateY(-2px);
}

.reset:active {
  transform: translateY(-1px);
}








/* fondo del loader */
.loader {
    /* background-color: blue; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    

}



.spaceCards{
  height: 100%;
  width: 96%;

  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:1rem;

  margin: .5rem;
  
  justify-content: space-evenly;
}

.spacePagination{
  height: 96%;
  width: 96%;
}
