/* 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.nav {
    background:#2d230d;
    display: flex;
    width: auto;
    height: 125px;
    justify-content: space-around;
    margin-top: 0%;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}


.nav img {
    margin-top: 15%;
    margin-left: -100%;
    width: 100px;
    height: 100px;
   
}

.nav span {
    color: rgba(0, 0, 0, 0.349);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}



.nav input {
    margin-top: 40px;
    font-size: 15px;
    border-radius: 8px;
}

.botones {
    display: contents;
}


.botones button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-top: 36px;
    border: none;
    background-color: transparent;
    color: #def6ef;
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
    margin-right: 100px;
}


.botones button:hover {
    transform: translate(0, .5px);
    border: none;
    background-color: transparent;
    color: #544f4f;
    font-size: 20px;
} */

body{
    
     margin: 0;
}


header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color:#756850;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
}

.logoCont{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.textDog{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 30px;
    font-weight: 70;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    
}

.instagramLogo{
    height: 50px;   
}

.youtubeLogo{
    height: 50px;
}

.whatsappLogo{
    height: 50px;
}

.xLogo{
    height: 50px;
}

.logoDog{
    height: 80px;
}



.searchBarCont{
    padding-right: 20px;
}


.newDogDiv{
   
    align-items: center;
    margin-right: 40px;
}
.newDog {
   
    
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 70;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 150px;
    
  }
  
  .newDog:hover {
    background-color: #423f3b;
    box-shadow: 0px 10px 10px #bdac93;
    color: #968888;
    transform: translateY(-5px);
  }
  
  .newDog:active {
    transform: translateY(-1px);
  }

