*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 70;
}
body{
  background-color:#dedede;
  align-items: center;
  justify-content: center;
  min-width: 100vh;

}

.card{
  position: relative;
  width: 250px;
  height: 250px;
  margin:20px
}

.frontFace{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .9s;
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0px 5px 10px #000;
}

.backFace{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
  transform: perspective(600px) rotateY(180deg);
  background-color:#51452e;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px black;
}

.img{
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
}

.h3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #ece0ba;
  background-color: rgba(0,0,0,.4);
  text-align: center;
}

.a{
  border-top: solid 1px white;
  height: 50px;
  line-height: 50px;
}


.card:hover .frontFace{
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .backFace{
  transform: perspective(600px) rotateY(360deg);
}

.divMoreInfo{
  width: 250;
  height: 60;
  text-align: center;
  display: flex;
}

.moreInfo {
  padding: 10px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 70;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 250px;
  height: 40px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  position:sticky;
  
}

.moreInfo:hover {
  background-color: #bdac93;
  box-shadow: 0px 5px 10px #bdac93;
  color: #fff;
  transform: translateY(-2px);
}

.moreInfo:active {
  transform: translateY(-1px);
}

